
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #818181;
}

th{
    background:#ddd;
    padding: 5px;  

}
td {
  background:#fff;
  padding:5px;
}

div{text-align: justify;}